<div class="container" id="developer_container">
  <h1>RESTful routes for SOCM</h1>

  <p id="notice"><%= notice %></p>
  <p></p>

  <ul>
    <li>While developing on localhost, prefix routes with: <b>localhost:3000</b></li>
    <li>While developing using SOCM's production data, prefix routes with: <b>socm.herokuapp.com</b></li>
  </ul>

  <h3>Getting info about Galaxies</h3>
  <p><b>GET</b> /galaxies.json </p>
  <p> This will show all of the galaxies and their associated information in json.</p>
  <br>
  <p><b>GET</b> /galaxies/<b>#galaxyId#</b>.json </p>
  <p>This is a get request to show a particular galaxy where the <b>#galaxyId#</b> is the id of the galaxy you want.</p>
  <p><b>Example: /galaxies/1.json</b>
  <br><br>

  <h3>Getting info about Galaxy Velocity Data</h3>
  <p><b>GET</b> /galaxies/<b>#galaxyId#</b>/velocities.json </p>
  <p> This will show all of the velocities and their associated information in json.</p>
  <br>
  <p><b>GET</b> /galaxies/<b>#galaxyId#</b>/velocities/<b>#velocityId#</b>.json </p>
  <p>This is a get request to show a particular Galaxy (specified by <b>#galaxyId#</b>) and a specific velocity specified by <b>#velocityId#</b></p>
  <p><b>Example: /galaxies/1/velocities/1.json</b>
  <br><br>

  <h3>Getting info about Citations</h3>
  <p><b>GET</b> /citations.json </p>
  <p>This shows all of the citation information.</p>
  <br>
  <p><b>GET</b> /citations/<b>#citationId#</b>.json </p>
  <p>This is a get request to show a particular Citation where the # is the id of the Citation you want.</p>
  <p><b>Example: /citations/1.json</b>

</div>
