<h1>Welcome to Scholarly Observed Celestial Measurements (SOCM)</h1>

<p id="notice"><%= notice %></p>

<div class="container" id="welcome_container">
  <p>
    <u><b>TODO: Cleanup this page, styling, layout, and rewrite intro</b></u>
  </p>

  <p>
    <br>
    <p>SOCM serves as a service layer to www.rotationalcurve.com (to be determined!) SOCM holds Galaxy and Galaxy Measurement data that RoCM uses in order to generate visualized galaxy rotations. All of the hosted data RoCM uses comes directly from SOCM. </p>
    <p>
      SOCM also provides admin privileges to the data. In order to gain admin privileges, you must sign
        <u><%= link_to 'here', new_admin_registration_path %></u> up and beapproved by the site administrator.
    </p>
    <p>
      SOCM's main goal is to provide a universal repository for free scholarly observed celestial data. We hope this tool is useful in your research, and if it is, please cite us!
    </p>
  </p>
</div>
