/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.navbar-inverse {background-image: url('galaxy_navbar.jpg'); background-position: left;}
.navbar-inverse .container .navbar-header .navbar-brand {color: #58D3F7; font-size: 35px;}
.navbar-inverse .container .navbar-header .navbar-brand:hover {background-color: #58D3F7; color: #000000;}
.navbar-inverse .container .navbar-nav>li>a {color: #58D3F7; font-size: 16px;}
.navbar-inverse .container .navbar-nav>li>a:hover {background-color: #58D3F7; color: #000000;}

.search-field {width: 50px;}
td{text-align: center;}
th{text-align: center;}
