// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome_container{width: 900px !important;}
.indent-p
{
padding-left:40px;
}

ul { margin: 100px; padding: 0; }
